.tagList {
	padding-left: 0;
	display: flex;
	flex-flow: row wrap;
	gap: 0.75rem 1.5rem;
	list-style: none;
	margin: 1.5rem 0 clamp(5vh, 3rem, 50vh);
	font-size: 0.9rem;
}

.tagList svg {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.125rem;
}

.tagItem {
	display: flex;
	align-items: center;
	gap: 0.35rem;
}

.tagLink {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: var(--text);
	text-decoration-color: transparent;
	transition:
		color var(--animation-duration) ease-in-out,
		text-decoration-color var(--animation-duration) ease-in-out;
}

.tagLink:hover,
.tagLink:focus-visible {
	text-decoration-color: var(--secondary-dark);
}

.tagLink:focus-visible {
	outline: var(--focus-outline-width) solid var(--focus-outline-color);
	outline-offset: var(--focus-outline-offset);
}

.tagIcon {
	fill: var(--secondary);
}

.count {
	font-size: 0.75em;
	color: var(--neutral-600);
}
