.ingredientsTableWrap {
	overflow-x: auto;
}

.ingredientsTable {
	width: 100%;
	border-collapse: collapse;
}

.ingredientsTable_thead {
	font-weight: bold;
}

.ingredientsTable_thead th {
	text-align: left;
	padding: 0.25rem 1rem 0.125rem 1rem;
	border-bottom: 0.1rem solid var(--secondary);
}

.ingredientsTable_tbody tr:nth-of-type(even) {
	background: var(--bg-alt);
}

.ingredientsTable_tbody td {
	padding: 0.125rem 1rem;
}
