.stepWrap {
	padding: 2rem 1rem;
	display: grid;
	grid-template-columns: clamp(10vw, 20rem, 50vw) 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'ing step';
	grid-gap: 2rem;
	align-items: center;
	background: var(--bg);
}

.stepWrap:nth-of-type(even) {
	background: var(--bg-alt);
}

@media only screen and (max-width: 910px) {
	.stepWrap {

		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		grid-gap: 1rem;
		grid-template-areas: 'step' 'ing';


	}

	.stepWrap ul {
		padding-left: 0.5rem;
		margin-left: 0.5rem;
		border-left: 0.1rem solid var(--secondary);
	}
}

.ingredientsWrap {
	list-style: none;
	padding: 0;
	grid-area: ing;
	margin-right: 1rem;
}

.ingredientsWrap li {
	line-height: 1.25;
	font-size: 0.75em;
}

.directionsWrap {
	grid-area: step;
}

.directionsWrap p:last-of-type {
	margin-bottom: 0;
}
