.tagListItem {
	list-style: none;
}

.tagLink {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: var(--text);
	text-decoration-color: transparent;
}

.tagLink:hover,
.tagLink:focus-visible {
	text-decoration-color: var(--secondary);
}

.tagLink_Svg {
	fill: var(--secondary);
}
